@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* template for ubuntu font */
body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
*{
    list-style-type: none;
}
/* styling the nav bar */
#nav-bar{
    background-color: #1C3D5A;
    height: 40px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#nav-bar .logo{
    color: white;
    font-weight: bold;
    float: left;
    font-size: 30px;
}
h2{
    font-size: 28px;
}

.profile-img{
    margin-top: 40px;
    object-fit: cover;
    border: 2px  solid;
    border-color: #1C3D5A;
    border-radius: 25%;

}
.navigation{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}
.navigation a{
    color: white;
    float: right;
    text-decoration: none;
    margin: 10px;

}
.navigation a:hover{
    color: #77c9d4;
}
.about-me{
    border-radius: 5px;
    color: white;
    background-color: #1C3D5A;
}
.about-me .education{
    text-align: center;
}
.about-me .interests{
    padding-bottom: 5px;
    text-align: center;
}

.projects{
    color: white;
    background-color: #77c9d4;
    border-radius: 5px;
    padding-bottom: 6px;
}
.card{

    padding: 2px 2px;
    background-color: rgb(57, 106, 153);
    margin: 10px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card button{
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: "Ubuntu", sans-serif;
    background-color: #1C3D5A;
}
.experience{
    color: white;
    background-color: navy;
    border-radius: 5px;
    padding-bottom: 6px;

}

.exp-card{
    color: white;
    padding: 2px 2px;
    background-color:  #2a428c;
    margin: 10px 10px;
    border-radius: 15px;
    margin-bottom: 15px;

}
.contact{
    background-color: cornflowerblue;
}
.contact-card{
    color: white;
    padding: 2px 2px;
    background-color: rgb(57, 106, 153);
    margin: 10px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.contact-card a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer{
    color: white;
    background-color: #1C3D5A;
    font-size: 20px;
}
