@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* template for ubuntu font */
body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0;
}
*{
    list-style-type: none;
}
/* styling the nav bar */
#nav-bar{
    background-color: #1C3D5A;
    height: 40px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#nav-bar .logo{
    color: white;
    font-weight: bold;
    float: left;
    font-size: 30px;
}
/* Styling the theme button: */
.mode-type{
    text-align: end;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    padding: 15px;

}
.mode-type .button{
    border-radius: 10px;
    padding: 5px 5px;
    background-color:#1C3D5A ;
    border: none;
    color: white;
    font-size: 25px;
}
.mode-type .button:hover{
    color: #77c9d4;
}
.profile h2{
    color: #1C3D5A;
    font-size: 28px;
}
.profile h3{
    color: #1C3D5A;
}

.profile-img{
    margin-top: 40px;
    object-fit: cover;
    border: 2px  solid;
    border-color: #1C3D5A;

}
.navigation{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}
.navigation a{
    color: white;
    float: right;
    text-decoration: none;
    margin: 10px;

}
.navigation a:hover{
    color: #77c9d4;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 10px;
    width: 50%;
    border-radius: 20px;
    color: white;
    background-color: #1C3D5A;
    /* animation */
    
}
.about-me:hover{
    animation-name: move;
    animation-duration: 10s;
}
.about-me .education{
    text-align: center;
}
.about-me .interests{
    padding-bottom: 5px;
    text-align: center;
}

.projects{
    margin: 0 auto;
    width: 50%;
    color: white;
    background-color: #77c9d4;
    border-radius: 20px;
    padding-bottom: 6px;
    margin-top: 15px;
}
.projects:hover{
    animation-name: move;
    animation-duration: 10s;    
}
.card{
    padding: 2px 2px;
    background-color: rgb(57, 106, 153);
    margin: 10px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card button{
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: "Ubuntu", sans-serif;
    background-color: #1C3D5A;
    cursor: pointer;
}
.experience{
    margin: 0 auto;
    width: 50%;
    color: white;
    background-color: navy;
    border-radius: 20px;
    padding-bottom: 6px;

}
.experience:hover{
    animation-name: move;
    animation-duration: 10s;
}
.exp-card{
    color: white;
    padding: 2px 2px;
    background-color:  #2a428c;
    margin: 10px 10px;
    border-radius: 15px;
    margin-bottom: 15px;

}
.contact{
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
.contact:hover{
    animation-name: move;
    animation-duration: 2s;
}
.contact-card{
    color: white;
    padding: 2px 2px;
    background-color: rgb(57, 106, 153);
    margin: 10px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.contact-card a{
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 20px;
}

.contact-card .contact-list{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 40px;
}
.contact-card a:hover{
    color: dodgerblue;
}


footer{
    color: white;
    background-color: #1C3D5A;
    font-size: 20px;
}
/* i have decided to try some animations ;) */
@keyframes move {
    0%{
        transform: translateX(0);
    }
    50%{
        
        transform: translateX(20px);
    }
    100%{
        transform: translateX(-20px);
    }
}
