@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

*{
    box-sizing: border-box;
    list-style-type: none;
}

.heading{
    font-size: 40px;
    text-align: center;
    color: #162cbb;
}
/* styling the nav bar */
#nav-bar{
    position: fixed;
    background-color:white;
    height: 60px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
#nav-bar .logo{
    color: #162cbb;
    font-weight: bold;
    float: left;
    font-size: 20px;
    padding-left: 30px;
}
.profile{
    height: 700px;
    color: white;
    background-color: #162cbb;
    background-image: linear-gradient(#1d1d1d,#162cbb );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details{
    text-align: center;
}
.profile-img{
    margin: 0 auto;
    margin-top: 40px;
    object-fit: cover;
    border: 2px  solid;
    border-color: #080f3b;
    border-radius: 50%;
}
.profile h2{
    font-size: 40px;

}
.navigation{
    margin-left: auto;
    padding-left: 20px;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.navigation a{
    color: #162cbb;
    float: right;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 15px;

}
.navigation a:hover{
    color: #080f3b;
}
.about-me{
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 auto;
    background-color: #162cbb;
    color: white;
    text-align: center;
    width: 80%;
    box-shadow: 8px 8px 0 #000;
    max-width: 100%;
}
.about-me .cv{
    background-color: white;
    color: #162cbb;
    font-weight: 600;
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 0 #000;
    padding: 10px;
    border: none;
}
.projects{
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 auto;
    background-color: #162cbb;
    box-shadow: 8px 8px 0 #000;
    color: white;
    text-align: center;
    width: 80%;
    max-width: 100%;
}
.projects .card{
    border-radius: 5px;
    background-color:  white;
    color: #080f3b;

}
.card button{
    border-radius: 5px;
    padding: 5px 5px ;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #162cbb;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}
.card button:hover{
    color:#77c9d4;
}
.skill-container{
    margin: 0 auto;
    width: 80%;
    color: white;
    text-align: center;
    background-color: #162cbb;
    box-shadow: 8px 8px 0 #000;
    padding: 10px;
    border-radius: 10px;
}
.skill-container .languages{
    
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill-container .Tools {
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.experience{
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #162cbb;
    box-shadow: 8px 8px 0 #000;
    color: white;
    text-align: center;
    width: 80%;
}
.contact{
    margin: 0 auto;
    width: 80%;
    padding: 10px 10px;
    background-color: #162cbb;
    box-shadow: 8px 8px 0 #000;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.contact-card button{
    background-color: #162cbb;
    border: none;
}
.contact-card button{
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #162cbb;
    color: white;
    padding: 10px 10px;
}
@media (max-width: 768px) {
    #nav-bar .logo{
        display: none;
    }
    .navigation{
        position: absolute;
        left: 0;
        width: 100%;

    }
    .navigation a{
        text-align: center;
        font-size: 15px;
    }

    
}

